@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

:root {
    --cor-principal:#FFFFFF;
    --cor-secundaria:#C0C0C0;
    --cor-botao:#167BF7;
    --cor-fundo:#00030C;
    --botao-azul-efeito:#1155a9;

    --fonte-principal: 'Inter', sans-serif;
}

body{
    background-color: var(--cor-fundo);
    color: var(--cor-principal);
    font-family: var(--fonte-principal);
    font-size: 1rem;
    font-weight: 400;
}

*{
    margin: 0;
    padding: 0;
}

.principal{
    background-image: url("./assets/Background.png");
    background-repeat: no-repeat;
    /* faz com que a imagem nao repita */
    background-size: contain;
    /* background pega o tamanho do container */
    align-items: center;
    text-align: center;
}

.container{
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
    /* grid-template-columns divide os espaços dependendo do valor que for colocado */
}

.container__titulo{
    font-size: 2rem;
    font-weight: 700;
}

.container__caixa{
    margin: 0 6em;
}

.container__imagem{
    margin: 1em 0 2em 0;
}

.container__botao{
    background-color: var(--cor-botao);
    text-decoration: none;
    color: var(--cor-principal);
    border-radius: 8px;
    padding: 1em;
    display: block;
    /* display block: faz com que o botao ocupe o bloco inteiro(de uma ponta a outra da tela). Ele será impedido pelo grid-template-columns*/
    margin-bottom: 1em;
}

.container__botao:hover{
    background-color: var(--botao-azul-efeito);
    color: var(--cor-fundo);
}

.botao__secundario{
    background-color: transparent;
    border: 2px solid var(--cor-principal);
}

.container__aviso{
    color: var(--cor-secundaria);
    font-size: 0.75rem;
}

.secundario {
    align-items: center;
    margin: 0 10 em;
}

.secundario__imagem{
    width: 80%;
}

.descricao__titulo{
    font-weight: 700;
    font-size:2.5rem;
    color: var(--cor-principal);
    margin-bottom: 0.1em;
}

.descricao__texto{
    color: var(--cor-secundaria);
}

.terciario__botao{
    display: inline-block;
    /* display:inline-block: pega-se o espaço do texto. Pega as caracteristicas do bloco (largura e altura) e usa-as. Vide: https://medium.com/collabcode/pare-de-chutar-e-aprenda-como-funciona-o-display-inline-block-4e6cba2f19d4*/
    margin-top: 1em;
}

.container__descricao{
    padding: 2em;
    
}

.dispositivos{
    /* height: 100vh; */
    text-align: center;
    /* pega todos os itens in-line(dentro do container) e centraliza eles */
    display: flex;
    flex-direction: column;
    gap:2.5rem;
}

.dispositivos__titulo{
    font-size: 2.5rem;
    color: var(--cor-principal);
}


.dispositivos__lista{
    display: flex;
    justify-content: center;
    list-style-type: none;
    /* tira ponto da lista */

}

.lista__item{
    text-align: center;
    font-size: 1.5rem;
    color: var(--cor-principal);
}

.rodape{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4%;
}

.rodape__logo{
    width: 102px;
    height: 35.28px;
    margin: 9rem 0 2.5rem 0;
}

.rodape__lista{
    display: flex;
    list-style-type: none;
    gap: 1rem;
    margin-bottom: 1.5rem;
}

.lista__link__link{
    text-decoration: none;
    color: var(--cor-principal);
    font-size: 1rem;
}
.lista__link__link:hover{
    color: var(--cor-botao);
}
.lista__link__link:active{
    /* ao clikar */
    color:yellow;
}

.rodape__texto{
    color: var(--cor-secundaria);
    margin-bottom: 1.5rem;
    text-align: center;
    font-size: 0.8rem;
}